<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= ADMIN_ROOT %>/index.bundle.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/9c411a1051.js"></script>
    <title>Golb Admin Page</title>
</head>
<body>
    <div id="App"></div>
    <script>
        window.__GOLB_ENV__ = {
            ADMIN_ROOT: "<%= ADMIN_ROOT %>",
            ADMIN_API_HOSTNAME: "<%= ADMIN_API_HOSTNAME %>",
            ADMIN_API_PROTOCOL: "<%= ADMIN_API_PROTOCOL %>",
            ADMIN_API_PORT: "<%= ADMIN_API_PORT %>",
            ADMIN_API_BASENAME: "<%= ADMIN_API_BASENAME %>"
        };
    </script>
    <script src="<%= ADMIN_ROOT %>/vendor.bundle.js"></script>
    <script src="<%= ADMIN_ROOT %>/index.bundle.js"></script>
</body>
</html>